
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    padding: 20px 25px;
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}
.btn:hover{
    background-color: #e07c0c;
    cursor: pointer;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color:  rgba(255, 144, 14, 0.1);
}
/*Navigations bar Styles*/
.nav-section{
    margin-left: 100px;
    margin-right: 50px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    /*background-color: rgba(255, 144, 14, 0.1);*/
}
.navbar .logo{
    font-size: 40px;
    font-weight: bold;
    color: #131313;
}
.navbar a{
    text-decoration: none;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.nav-menu li{
    font-size: 18px;
    font-weight: medium;
    color: #424242;
    margin-right: 30px;
}

/*Banner related styles*/
.banner{
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    /*background-color: rgba(255, 144, 14, 0.1);*/
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-content h1{
    font-size: 48px;
    font-weight: bold;
    color: #131313;
    margin-top: 102px;
    margin-bottom: 27px;
}
.banner-content p{
    font-size: 18px;
    font-weight: normal;
    color: #424242;
    margin-bottom: 32px;
    line-height: 26px;
}
.banner-image img{
    max-width: 850px;
    width: 100%;
    margin-top: 50px;
}
/*Hero section styles*/
.hero-1{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}
.hero-1 .hero-1-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-left: 200px;
}
.hero-1 .hero-1-content{
    max-width: 537px;
    margin-left: 57px;
}
.hero-1-content h3{
    font-size: 42px;
    margin-bottom: 24px;
}
.hero-1-content p{
    font-size: 14px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
    margin-right: 38px;
}
/*hero-2-section styles*/
/* hero-2 section */
.hero-2{
    display: flex;
    gap: 60px;
    max-width: 1440px;
    margin: 50px auto;
    padding: 0 20px;
    align-items: flex-start;
    margin-left: 150px;
}

/* LEFT CONTENT */
.hero-2-content{
    max-width: 450px;
}

/* title */
.hero-2-content #hero-2-title{
    display: block;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;
}

.hero-2-content #hero-2-title h3{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
    line-height: 1.2;
}

/* description */
.hero-2-content > p{
    font-size: 16px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 20px;
}

/* cards container */
.hero-2-cardsbox{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* single card */
.hero-2-card{
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.hero-2-card h5{
    font-size: 15px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}

.hero-2-card p{
    font-size: 12px;
    line-height: 20px;
    color: #727272;
}

/* RIGHT IMAGE */
.hero-2-images{
    position: relative;
}

.hero-2-images img{
    width: 100%;
    max-width: 708px;
    border-radius: 8px;
    height: 600px;
}

/* EXPERIENCE BADGE */
.hero-2-images::after{
    content: "10+ Year\A Experience";
    white-space: pre;
    position: absolute;
    bottom: -40px;
    left: -50px;
    background: #FF900E;
    color: #ffffff;
    padding: 30px 25px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
}

/*media queries for responsiveness*/
/*small device responsiveness*/
@media screen and (max-width: 576px){

    /*navigation bar responsiveness*/
    .nav-setion{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-menu li{
        font-size: 14px;
    }

    /*hero responsiveness*/
    .hero-1{
        flex-direction: column;
    }
    .hero-1 .hero-1-images{
        grid-template-columns: repeat(2,1fr);
        margin-left: 0;
        gap: 8px;
    }
    .hero-1 .hero-1-content{
        margin-left: 0;
        margin-top: 20px;
    }
    /*hero-2 responsiveness*/
    .hero-2{
        flex-direction: column;
        margin-left: 0;
    }
    .hero-2-images img{
    width: 100%;
    border-radius: 8px;
    margin-top: -20px;
    height: 500px;
    }
    .hero-2-images::after{
        left: -15px;
        bottom: -30px;
        padding: 20px 15px;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
    }
}

/*medium device responsiveness*/
@media screen and (min-width: 577px) and (max-width: 992px){
    .nav-setion{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-menu li{
        font-size: 16px;
    }
    .banner-content h1{
        font-size: 36px;
    }

    /*hero responsiveness*/
    .hero-1{
        flex-direction: column;
        margin-top: 70px;
    }
    .hero-1 .hero-1-images{
        grid-template-columns: repeat(2,1fr);
        margin-left: 0;
        gap: 20px;
    }
    .hero-1-content h3{
    font-size: 45px;
    margin-top: 10px;
    }
    /*hero-2 responsiveness*/
    .hero-2{
        margin-left: 0;
    }
    .hero-2-images img{
    width: 100%;
    border-radius: 8px;
    margin-top: -20px;
    height: 500px;
    }
    .hero-2-images::after{
        left: -15px;
        bottom: -30px;
        padding: 20px 15px;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
    }
    .hero-2-cardsbox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}