
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    padding: 20px 25px;
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}
.btn:hover{
    background-color: #e07c0c;
    cursor: pointer;
}
header{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color:  rgba(255, 144, 14, 0.1);
}
/*Navigations bar Styles*/
.nav-section{
    margin-left: 100px;
    margin-right: 50px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    /*background-color: rgba(255, 144, 14, 0.1);*/
}
.navbar .logo{
    font-size: 40px;
    font-weight: bold;
    color: #131313;
}
.navbar a{
    text-decoration: none;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.nav-menu li{
    font-size: 18px;
    font-weight: medium;
    color: #424242;
    margin-right: 30px;
}

/*Banner related styles*/
.banner{
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    /*background-color: rgba(255, 144, 14, 0.1);*/
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-content h1{
    font-size: 48px;
    font-weight: bold;
    color: #131313;
    margin-top: 102px;
    margin-bottom: 27px;
}
.banner-content p{
    font-size: 18px;
    font-weight: normal;
    color: #424242;
    margin-bottom: 32px;
    line-height: 26px;
}
.banner-image img{
    max-width: 850px;
    width: 100%;
    margin-top: 50px;
}
/*small device responsiveness*/
@media screen and (max-width: 576px){
    .nav-setion{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-menu li{
        font-size: 14px;
    }
}
/*medium device responsiveness*/
@media screen and (min-width: 577px) and (max-width: 992px){
    .nav-setion{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-menu li{
        font-size: 16px;
    }
    .banner-content h1{
        font-size: 36px;
    }
}